* {
  font-family: 'Montserrat Alternates';
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: #E5E5E5;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 10000;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;

}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #ECECEC;
  transition: 0.6s;
}

.promo {
  position: relative;
  background-color: #060709;
  height: 100vh;
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  background-position: right top;

}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}

.services {
  padding: 36px 0 46px 0;
  background-color: #B00F0A;
}

.service-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  border-radius: 10px;
}

.service-item img {
  padding-top: 27px;
  padding-left: 48px;
  padding-right: 34px;
}

.service-item-text {
  padding-top: 27px;
  color: #fff;
}


.service-wrapper {
  flex-wrap: nowrap;
}

.separator {
  /* separate 2 objects between by 36px */
  padding: 0 18px;
}



.service-item-text h3 {
  font-style: normal;
  font-weight: 700;
}

.service-item-text p {
  font-style: normal;
  font-weight: 300;

}


.about {
  padding-top: 85px;
}

.about .label{
  padding-bottom: 30px;
}

.about__wrapper {
  display: table;
  padding: 5px;
  width: 100%;
  margin: 5px 0;
  /* you can change/remove margin */
}

.about__descr {
  vertical-align: middle;
  display: table-cell;
  text-align: justify;
  padding-left: 112px;
  
}

.about__photo {
  vertical-align: middle;
  display: table-cell;
  padding-right: 5px;
  width: 40%;
}

.label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  }

p.about_text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
}

.about__photo img {
  width: 100%;
  vertical-align: middle;
}

/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/

/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/


.advantages{
  padding-top: 111px;
}



.advantages .container {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
width: 30%;
border: 1px solid;
border-radius: 8px;

/* border-image-source: linear-gradient(118.25deg, #DA4533 0%, rgba(218, 69, 51, 0) 33.76%); */


}


.advantages__item-text h3 {
font-weight: 600;
font-size: 19px;
line-height: 150%;
color: #060709;
padding-top: 24px;
}

.advantages__item-text p {
  font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 150%;
color: #060709;
}

.advantages .label {
  padding-bottom: 78px;
}

.reviews {
  padding-top: 190px;
  background-color: rgba(126, 149, 172, 0.568);
}



